
<div class="container">
<% provide(:title, @user.name) %>
<% if current_user!=nil &&  @user.id==current_user.id %>
	<%= link_to t(:my)+" "+t(:reviews), "/users/"+@user.id.to_s+"/my_review" %>
<%else%>

  <div class="col-md-8">
    <% if @user.items.any? %>
      <h3>Items(<%= @user.items.count %>)</h3>
      <ol class="items">
        <%= render @items %>
      </ol>
      <%= will_paginate @items %>
    <% end %>
  </div>


  <%= link_to 'Home', home_path %>
  <%= link_to "Users",    users_path %>
  <% if logged_in? %>
  <%= link_to "Settings", edit_user_path(current_user) %>
  
  <%= link_to "Log out", logout_path, method: :delete %>
  <%= link_to "Profile", current_user %>
  <% else %>
  <% end %>
  <%= link_to "Log in", login_path %>
<%end%>
</div>



