<div class="container">

<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  
  
    <%= f.label :avg_price %>
    <%= f.text_field :avg_price, class: 'form-control' %>
  
  
    <%= f.label :avg_rating %>
    <%= f.text_field :avg_rating, class: 'form-control' %>
  
  
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  
   <%= f.label :tag_list %>
   <pre style="width:500px">
   <%= f.check_box :tag_list, { :multiple => true }, 'booksaudible', nil%> Books & Audible         <%= f.check_box :tag_list, { :multiple => true }, 'beautyhealtsgrocery', nil%> Beauties, Helats & Grocery
   <%= f.check_box :tag_list, { :multiple => true }, 'moviesmusicgames', nil%> Movies, Music & Games   <%= f.check_box :tag_list, { :multiple => true }, 'toyskidsbaby', nil%> Toys, Kids & Baby
   <%= f.check_box :tag_list, { :multiple => true }, 'electronicsgames', nil%> Electronics & Games     <%= f.check_box :tag_list, { :multiple => true }, 'clothingshoesjewelry', nil%> Clothing, Shoes & Jewelry
   <%= f.check_box :tag_list, { :multiple => true }, 'homegardentools', nil%> Home, Garden & Tool     <%= f.check_box :tag_list, { :multiple => true }, 'sportsoutdoors', nil%> Sports & Outdoors 
   <%= f.check_box :tag_list, { :multiple => true }, 'automotiveindustrial', nil%> Automotive & Industrial     
   </pre>

  

    <%= f.submit "Create Item", class: "btn btn-primary" %>
  
</div>
<% end %>
