<li id="item-<%= item.id %>">
  <%= link_to gravatar_for(item.user), item.user %>
  <span class="user"><%= link_to item.user.name, item.user %></span>
  <span class="name">
    <%= item.name %>
    <%= image_tag item.picture.url if item.picture? %>
  </span>
  <span class="description"><%= item.description %></span>
  <span class="avg_price"><%= item.avg_price %></span>

  <span class="timestamp">
    Posted <%= time_ago_in_words(item.created_at) %> ago.
    <% if current_user?(item.user) %>
      <%= link_to "delete", item, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>

