<!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                    <div class="caption-full">
                        <h4 class="pull-right">Best Price: $ <%= @item.avg_price %></h4>
                        
                        <h4><a href="#"><%= @item.name %></a></h4>
                        <p><%= @item.description %></p>
                    
                        <p class="pull-right"><%= @item.reviews.count %> Reviews</p>
                    </div>

                </div>
                
                <div class="review-rating" data-score="<%= @item.avg_rating %>"></div> <%= @item.avg_rating %> stars
               
                <div id="map">
                    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@item.latitude}%2C#{@item.longitude}" %>
                    
                </div>
                
                <div class="well">
                    
                    <div class="text-left">
                        <h2>Reviews</h2>
                    </div>

                    <hr>
                    
                    <% if !@reviews.present? %>
                    <p>There are no reviews.</p> 
                    <% end %>
                    
                    <%= render @item.reviews %>
                    
                    <%= render 'reviews/form' %>
                    <%= link_to 'Edit', edit_item_path(@item) %> |
                    <%= link_to 'Back', items_path %>
                    
                </div>

            </div>

        </div>

    </div>
<!-- /.container -->

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>









