<!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                    <div class="caption-full">
                        <h4 class="pull-right"><%= @item.avg_price %></h4>
                        
                        <h4><a href="#"><%= @item.name %></a></h4>
                        <p><%= @item.description %></p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right"><%= @item.reviews.count %> Reviews</p>
                        <p>
                            <h4 class="pull-left"><%= @item.avg_rating %></h4>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p>
                    </div>
                </div>
                <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@item.latitude}%2C#{@item.longitude}" %>
                <div class="well">
                    
                    <div class="text-left">
                        <h2>Reviews</h2>
                    </div>

                    <hr>
                    
                    <% if !@reviews.present? %>
                    <p>There are no reviews.</p> 
                    <% end %>
                    
                    <%= render @item.reviews %>
                    
                    <%= render 'reviews/form' %>
                    <%= link_to 'Edit', edit_item_path(@item) %> |
                    <%= link_to 'Back', items_path %>
                    
                </div>

            </div>

        </div>

    </div>
<!-- /.container -->








