<div class="well">

        <%= @item = Item.find(params[:id]) %>
        <%= @review = @item.reviews.new %>
        <%= form_for([@item,@review]) do |f| %>
            <% if @review.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

                    <ul>
                    <% @review.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>

        <div class="row">
            <div class="col-md-12">
                <%= f.label :rating %>
                <%= f.text_field :rating, class: 'rating' %>
                <span class="pull-right">
                    <strong>Price:</strong><%= f.text_field :price, class: 'form-control' %> <strong>Store:</strong><%= f.text_field :store, class: 'form-control' %>
                                
                </span>
                <%= f.label :comment %>
                <%= f.text_area :comment, class: 'form-control' %>
            </div>
        </div>

        <hr>
        <%= f.submit "Add Review", class: "btn btn-primary" %>
        <% end %>
</div>
